/* For tablet */

@media screen and (max-width: 800px){
    .online-games-sec{
        padding: 0px 20px;
    }
    .play-games-section{
        padding: 0px 20px;
    }
    .play-games-wrapper{
        gap: 100px;
    }

    .career-section{
        padding: 20px 15px;
    }

}

/* For Mobile Large */

@media screen and (max-width: 500px){
    .nav-container, .nav-sec-2-list{
            flex-direction: column;
    }
    .nav-sec-2-list{
        margin-top: 20px;
    }

    .banner-wrapper , .we-are-gamer{
        flex-direction: column-reverse;

    }
    .banner-content, .we-are-gamer-content{
        text-align: center;
    }

    .videos , .career-wrapper{
        flex-direction: column;
        
    }
    .online-games-sec{
        padding: 0px 20px;
    }
    
    .play-games-wrapper{
        flex-direction: column;
        gap: 30px;
    }

    .play-games-section{
        padding: 0px 20px;
    }

    .play-games-img{
        width: 80%;
    }

    .career-section{
        padding: 0px 15px;
    }

    footer .flex-item ul{
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }
    .flex-item .two-col{
        grid-template-columns: repeat(2,1fr);
    }



    
}



