.container {
    max-width: 1200px;
    margin: 0 auto;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

nav {
    padding: 20px 0px;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.nav-container {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.nav-sec-1 {
    display: flex;
    align-items: center;
    gap: 15px;
}

.nav-sec-2-list {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 20px;

}

.nav-item-social {
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 20px 40px;
}

.nav-item-social i {
    margin-right: 15px;
    margin-left: 15px;
    font-size: 20px;
}

.nav-item-social> :last-child {
    margin: 0;
}

.youtube {
    color: red;
}

/* 2nd section */

.banner-wrapper {
    display: flex;
    align-items: center;
    gap: 40px;


}

.banner-wrapper>* {
    flex: 1;
}

/* .banner-content{
    flex: 1;
} */
img {
    width: 100%;
}

.section-title {
    color: #0B0223;
    font-size: 48px;
    font-weight: 700;
}

.banner-main-title {
    font-size: 95px;
    font-weight: 800;
}

.pink-text {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.common-para {
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    text-transform: lowercase;
}

.main-btn {
    margin-top: 20px;
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    padding: 21px 40px;
    border-style: none;
    color: white;
    cursor: pointer;
}