.container {
  max-width: 1200px;
  margin: 0 auto;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
}

nav {
  padding: 20px 0px;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-sec-1 {
  display: flex;
  align-items: center;
  gap: 15px;
}

.nav-sec-2-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-item-social {
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
  padding: 20px 40px;
}

.nav-item-social i {
  margin-right: 15px;
  margin-left: 15px;
  font-size: 20px;
}

.nav-item-social > :last-child {
  margin: 0;
}

.youtube {
  color: red;
}

/* 2nd section */

.uni-wrapper {
  display: flex;
  align-items: center;
  gap: 40px;
}

.uni-wrapper > * {
  flex: 1;
}

.banner-content > p > i {
  margin-right: 10px;
}

img {
  width: 100%;
}

.section-title {
  color: #0b0223;
  font-size: 48px;
  font-weight: 700;
}

.banner-main-title {
  font-size: 95px;
  font-weight: 800;
}

.pink-text {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.common-para {
  color: #534c64;
  font-size: 20px;
  font-weight: 500;
  text-transform: lowercase;
}

.main-btn {
  margin-top: 20px;
  border-radius: 48px;
  background: var(--linear, linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%));
  padding: 21px 40px;
  border-style: none;
  color: white;
  cursor: pointer;
}

.common-para-2 {
  color: #534c64;
  font-size: 18px;
  font-weight: 400;
  margin: 20px 0px;
}

.banner-content {
  text-align: left;
}

.we-are-gamer-content {
  text-align: right;
}
.we-are-gamer-section {
  margin-top: 80px;
}

.we-are-gamer {
  flex-direction: row-reverse;
}

.unleash {
  color: #534c64;
  font-size: 32px;
  font-weight: 700;
}

.purpose {
  color: #534c64;
  font-size: 24px;
  font-weight: 500;
  margin-top: 20px;
}
.online-games {
  text-align: center;
}
.online-games-sec {
  margin-top: 80px;
}

/* vidoes */

.videos {
  display: flex;
  gap: 10px;
}

.video:hover .overlay {
  opacity: 1;
}

.video-img-box {
  position: relative;
  border-radius: 16px;
  overflow: hidden;
}
.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  height: 99%;
  width: 100%;
  border-radius: 16px;
  position: absolute;
  opacity: 0;
  transition: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  flex-direction: column;
  font-size: 20px;
}

.overlay i {
  margin-bottom: 10px;
}

/* play games sec */
.play-games-section {
  margin: 50px 0px;
}

.play-games-img {
  position: relative;
}

.nested-img {
  position: absolute;
  bottom: -15%;
  right: -15%;
  width: 40%;
}
.play-games-wrapper {
  flex-direction: row-reverse;
  gap: 200px;
}

.career-section {
  background-color: #ff42a5;
  margin: 80px 0px;
}

.career-btn{
  background: white;
  color: #ff42a5;
}
.color-whiteoftext{
  color: white;
}
.list-para{
  display: flex;
  gap: 50px;
}

.siu{
  text-align: right;
}

/* footer  */

.footer-logo{
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  gap: 15px;

}

.footer-logo img{
  width: 10%;
}

.footer-container{
  background: #0B0223;
}
